*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll{
    height: 5px;
    background-color: #ff0000;
    position: fixed;
}
.lightblue{
    width: 100%;
    height: 300px;
    background-color: lightblue;
}
.gray{
    width: 100%;
    height: 300px;
    background-color: #333;
}